body{
    display: flex;
    flex-direction: column;
}

.header {
    border-radius: 25px;
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-title{
    font-size: 36px;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}