html, body{
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;    
    
}

.header {

    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-title{
    font-size: 36px;
    margin: 0 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 24px;
    margin: 0 100px;
}

a {
    color: white;
    text-decoration: none;
}

.content{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    
}

.content-info {

    margin: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

#logo {
    width: 200px;
    height: 275px;
    padding: 8px;
    border-radius: 25px;
    border-style: none;
    margin: 0 100px;
}

.join-button {
    padding: 16px;
    background-color: #3882f6;
    font-size: larger;
    border-radius: 25px;
    width: 120px;
    height: 60px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.short-info {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 200px;
    height: 275px;
    border-radius: 25px;
    border-color: #1f2937;
    border-style: solid;
}

.information-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0;
}

.information {
    display: flex;
    gap: 84px;
    justify-content: center;
    text-align: center;
    font-size: large;
    flex: 1;
}

.quote-section{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding: 100px;
    margin-top: 16px;
}

.quote-signature{
    align-self: flex-end;
    justify-content: flex-end;
    font-weight: bold;
}


